body{
    font-family: 'Tiro Kannada', serif;
    font-size: 35px;
    text-align: center;
    background-color:#EADEDE;
    
}
section>ul>li{
    list-style-position: inside;
}

table{
    margin-left: auto;
    margin-right: auto;
}

table,tr,td{
    padding: 15px;
}

h1{
    color: red;
}

h2{
    color:brown;
}

h3{
    color:chocolate;
}

section>article>img {
    
    width:400px;
}

.fiyat{
    font-weight:bold; 
}

a:link{
    color:darkblue;
    text-decoration: none;
}

a:visited{
    color:darkblue;
    text-decoration: none;
}

a:hover{ 
    color:red;
    text-decoration: underline;}

a:active{ 
    color:darkblue;
    text-decoration: none;}